@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  /* Remove default margin on everything */
  margin: 0;
  /* Remove default padding on everything */
  padding: 0;
  /* Calc `em` based line height, bigger line height for smaller font size and smaller line height for bigger font size: https://kittygiraudel.com/2020/05/18/using-calc-to-figure-out-optimal-line-height/ */
  line-height: calc(0.25rem + 1em + 0.25rem);
}

/* Use a more-intuitive box-sizing model on everything */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove border and set sensible defaults for backgrounds, on all elements except fieldset progress and meter */
*:where(:not(fieldset, progress, meter)) {
  border-width: 0;
  border-style: solid;
  background-origin: border-box;
  background-repeat: no-repeat;
}

html {
  /* Allow percentage-based heights in the application */
  block-size: 100%;
  /* Making sure text size is only controlled by font-size */
  -webkit-text-size-adjust: none;
}

/* Smooth scrolling for users that don't prefer reduced motion */
@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
  /* https://marco.org/2012/11/15/text-rendering-optimize-legibility */
  text-rendering: optimizeSpeed;
  /* Allow percentage-based heights in the application */
  min-block-size: 100%;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-gutter#example_2 */
  /* scrollbar-gutter: stable both-edges; Removed until this bug is fixed: https://bugs.chromium.org/p/chromium/issues/detail?id=1318404#c2 */
}

/* Improve media defaults */
:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, svg, video) {
  block-size: auto;
  max-inline-size: 100%;
}

/* Remove stroke and set fill colour to the inherited font colour */
:where(svg) {
  stroke: none;
  fill: currentColor;
}

/* SVG's without a fill attribute */
:where(svg):where(:not([fill])) {
  /* Remove fill and set stroke colour to the inherited font colour */
  stroke: currentColor;
  fill: none;
  /* Rounded stroke */
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Set a size for SVG's without a width attribute */
:where(svg):where(:not([width])) {
  inline-size: 5rem;
}

/* Remove built-in form typography styles */
:where(input, button, textarea, select),
:where(input[type="file"])::-webkit-file-upload-button {
  color: inherit;
  font: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

/* Change textarea resize to vertical only and block only if the browser supports that */
:where(textarea) {
  resize: vertical;
}

@supports (resize: block) {
  :where(textarea) {
    resize: block;
  }
}

/* Avoid text overflows */
:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

/* Fix h1 font size inside article, aside, nav, and section */
h1 {
  font-size: 2em;
}

/* Position list marker inside */
:where(ul, ol) {
  list-style-position: inside;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
:where(ul, ol)[role="list"] {
  list-style: none;
}

/* More readable underline style for anchor tags without a class. This could be set on anchor tags globally, but it can cause conflicts. */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make it clear that interactive elements are interactive */
:where(
a[href],
area,
button,
input,
label[for],
select,
summary,
textarea,
[tabindex]:not([tabindex*="-"])
) {
  cursor: pointer;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

:where(input[type="file"]) {
  cursor: auto;
}

:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  cursor: pointer;
}

/* Animate focus outline */
@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    -webkit-transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
    transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
  }
  :where(:not(:active)):focus-visible {
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
}

:where(:not(:active)):focus-visible {
  outline-offset: 5px;
}

/* Make sure users can't select button text */
:where(
button,
button[type],
input[type="button"],
input[type="submit"],
input[type="reset"]
),
:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
          user-select: none;
  text-align: center;
}

/* Disabled cursor for disabled buttons */
:where(
button,
button[type],
input[type="button"],
input[type="submit"],
input[type="reset"]
)[disabled] {
  cursor: not-allowed;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  background-color: #f5f3f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.decor {
  position: absolute;
  background: #e942ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#e942ff), to(#8838ff));
  background: linear-gradient(180deg, #e942ff 0%, #8838ff 100%);
  inset: 0 50% 20% 0;
  border-radius: 0 0 500px 0;
  -webkit-border-radius: 0 0 500px 0;
  -moz-border-radius: 0 0 500px 0;
  -ms-border-radius: 0 0 500px 0;
  -o-border-radius: 0 0 500px 0;
}

@media (min-width: 1000px) {
  .decor {
    inset: 0 60% 20% 0;
    border-radius: 0 0 500px 500px;
    -webkit-border-radius: 0 0 500px 500px;
    -moz-border-radius: 0 0 500px 500px;
    -ms-border-radius: 0 0 500px 500px;
    -o-border-radius: 0 0 500px 500px;
  }
}

.wrap {
  max-width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1000px) {
  .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 40px 0;
    max-width: 80%;
    -webkit-column-gap: 70px;
            column-gap: 70px;
  }
}

@media (min-width: 1400px) {
  .wrap {
    padding: 0 40px;
    max-width: 75%;
    -webkit-column-gap: 100px;
            column-gap: 100px;
  }
}

.phone {
  background-color: #f5f3f7;
  border: 18px solid white;
  max-width: 90%;
  border-radius: 30px;
  -webkit-box-shadow: 0 2px 3px #ddd;
          box-shadow: 0 2px 3px #ddd;
  margin: 60px auto 0 auto;
  position: relative;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

@media (min-width: 1000px) {
  .phone {
    width: 50%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: unset;
    max-width: unset;
  }
}

.phone::after {
  content: "";
  position: absolute;
  inset: 0 25% 97% 25%;
  background-color: white;
  border-radius: 0 0 30px 30px;
  -webkit-border-radius: 0 0 30px 30px;
  -moz-border-radius: 0 0 30px 30px;
  -ms-border-radius: 0 0 30px 30px;
  -o-border-radius: 0 0 30px 30px;
}

.phone-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #e942ff;
  background: linear-gradient(280deg, #e942ff 0%, #8838ff 100%);
  padding: 40px 20px 20px 20px;
  border-radius: 15px 15px 10px 10px;
  -webkit-border-radius: 15px 15px 10px 10px;
  -moz-border-radius: 15px 15px 10px 10px;
  -ms-border-radius: 15px 15px 10px 10px;
  -o-border-radius: 15px 15px 10px 10px;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.phone-header i {
  cursor: pointer;
}

.phone-header .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.phone-header .name img {
  border: 2px solid white;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.phone-chats {
  padding: 20px;
}

.phone-chats .dogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin: 20px 0;
}

.phone-chats .dogs img {
  border-radius: 20px;
  width: calc(100% / 4);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.phone-chats .chat {
  width: 60%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.phone-chats .chat.left {
  color: #9241c8;
  background-color: rgba(216, 158, 255, 0.1);
}

.phone-chats .chat.right {
  margin-left: auto;
  color: #6e5d7e;
  background-color: white;
}

.phone-price .price {
  background: #e942ff;
  background: linear-gradient(280deg, #e942ff 0%, #8838ff 100%);
  width: 80%;
  border-radius: 20px 20px 20px 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-border-radius: 20px 20px 20px 10px;
  -moz-border-radius: 20px 20px 20px 10px;
  -ms-border-radius: 20px 20px 20px 10px;
  -o-border-radius: 20px 20px 20px 10px;
}

.phone form {
  margin: 0 20px 20px 20px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.phone form input {
  width: 100%;
}

.phone form input:focus {
  outline: none;
}

.phone form button {
  background-color: #3e2753;
  color: white;
  width: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.content {
  text-align: center;
  margin-top: 60px;
  padding: 0 20px;
}

@media (min-width: 1000px) {
  .content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
  }
}

.content h1 {
  color: #3e2753;
}

.content p {
  color: #a39daa;
  margin-top: 20px;
}

.attribution {
  text-align: center;
  margin: 20px auto;
  display: inline-block;
  width: 100%;
  font-size: .8em;
  inset: auto 0 0 0;
}

.attribution a {
  font-weight: 600;
}

@media (min-width: 1000px) {
  .attribution {
    font-size: inherit;
  }
}

@media (min-width: 1400px) {
  .attribution {
    position: absolute;
  }
}
/*# sourceMappingURL=styles.css.map */