@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VAR */

:root {
  --cyan: hsl(179, 62%, 43%);
  --darkCyan: hsl(179, 63%, 40%);
  --brightYellow: hsl(71, 73%, 54%);
  --lightGray: hsl(204, 43%, 93%);
  --grayishBlue: hsl(218, 22%, 67%);
  --black: rgb(39, 36, 36);
  --blackBackground: rgba(39, 36, 36, 0.6);
}

/* VAR */

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--lightGray);
  overflow-y: hidden;
}

nav {
  padding: 20px 0;
}

nav a {
  font-size: 1.5em;
}

.container {
  max-width: 90%;
  margin-inline: auto;
}

button {
  cursor: pointer;
}

section {
  position: relative;
}

.modal_wrap {
  display: none;
}

.modal_wrap.open{
  position: absolute;
  inset: 0;
  background-color: var(--blackBackground);
  display: flex;
  place-content: center;
  align-items: center;
}

.modal_content {
  background-color: var(--lightGray);
  color: var(--black);
  padding: 40px 60px;
  border-radius: 8px;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.modal_content p {
  margin: 30px 0;
}

.modal_content a {
  font-weight: 600;
  color: var(--darkCyan);
}

.modal_content button {
  width: 30%;
}

.top {
  margin-bottom: 80px;
}

#data {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.top {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.btn_tag {
  background-color: var(--lightGray);
  border: 1px solid var(--grayishBlue);
  color: var(--black);
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn_tag.active {
  background-color: var(--cyan);
  color: var(--lightGray);
}

.card {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: .3s ease;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.card.hide {
  display: none;
}

.card_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card_detail, .card_link {
  padding: 20px;
}

.card_link {
  display: flex;
  column-gap: 20px;
}

.btn_primary, .btn_secondary {
  flex: 1;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  font-weight: 700;
  transition: .3s ease;
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.btn_primary {
  background-color: var(--cyan);
  color: var(--lightGray);
}

.btn_primary:hover {
  background-color: var(--darkCyan);
}

.btn_secondary {
  border: 1px solid var(--black);
  color: var(--black);
}

.btn_secondary:hover {
  color: var(--lightGray);
  background-color: var(--black);
}

.card_detail h2 {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1020px) {
  .container {
    max-width: 80%;
  }

  #data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  }
}
