@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
* {
  /* Remove default margin on everything */
  margin: 0;
  /* Remove default padding on everything */
  padding: 0;
  /* Calc `em` based line height, bigger line height for smaller font size and smaller line height for bigger font size: https://kittygiraudel.com/2020/05/18/using-calc-to-figure-out-optimal-line-height/ */
  line-height: calc(0.25rem + 1em + 0.25rem);
}

/* Use a more-intuitive box-sizing model on everything */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove border and set sensible defaults for backgrounds, on all elements except fieldset progress and meter */
*:where(:not(fieldset):not(progress):not(meter)) {
  border-width: 0;
  border-style: solid;
  background-origin: border-box;
  background-repeat: no-repeat;
}

html {
  /* Allow percentage-based heights in the application */
  block-size: 100%;
  /* Making sure text size is only controlled by font-size */
  -webkit-text-size-adjust: none;
}

/* Smooth scrolling for users that don't prefer reduced motion */
@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
  /* https://marco.org/2012/11/15/text-rendering-optimize-legibility */
  text-rendering: optimizeSpeed;
  /* Allow percentage-based heights in the application */
  min-block-size: 100%;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-gutter#example_2 */
  /* scrollbar-gutter: stable both-edges; Removed until this bug is fixed: https://bugs.chromium.org/p/chromium/issues/detail?id=1318404#c2 */
}

/* Improve media defaults */
:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, svg, video) {
  block-size: auto;
  max-inline-size: 100%;
}

/* Remove stroke and set fill colour to the inherited font colour */
:where(svg) {
  stroke: none;
  fill: currentColor;
}

/* SVG's without a fill attribute */
:where(svg):where(:not([fill])) {
  /* Remove fill and set stroke colour to the inherited font colour */
  stroke: currentColor;
  fill: none;
  /* Rounded stroke */
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Set a size for SVG's without a width attribute */
:where(svg):where(:not([width])) {
  inline-size: 5rem;
}

/* Remove built-in form typography styles */
:where(input, button, textarea, select),
:where(input[type="file"])::-webkit-file-upload-button {
  color: inherit;
  font: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

/* Change textarea resize to vertical only and block only if the browser supports that */
:where(textarea) {
  resize: vertical;
}

@supports (resize: block) {
  :where(textarea) {
    resize: block;
  }
}

/* Avoid text overflows */
:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

/* Fix h1 font size inside article, aside, nav, and section */
h1 {
  font-size: 2em;
}

/* Position list marker inside */
:where(ul, ol) {
  list-style-position: inside;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
:where(ul, ol)[role="list"] {
  list-style: none;
}

/* More readable underline style for anchor tags without a class. This could be set on anchor tags globally, but it can cause conflicts. */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make it clear that interactive elements are interactive */
:where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*="-"])) {
  cursor: pointer;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

:where(input[type="file"]) {
  cursor: auto;
}

:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  cursor: pointer;
}

/* Animate focus outline */
@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    -webkit-transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
    transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
  }
  :where(:not(:active)):focus-visible {
    -webkit-transition-duration: 0.25s;
            transition-duration: 0.25s;
  }
}

:where(:not(:active)):focus-visible {
  outline-offset: 5px;
}

/* Make sure users can't select button text */
:where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"]),
:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
          user-select: none;
  text-align: center;
}

/* Disabled cursor for disabled buttons */
:where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"])[disabled] {
  cursor: not-allowed;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}

h1,
h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

.container {
  max-width: 90%;
  margin-inline: auto;
}

button {
  background-color: transparent;
}

.btn {
  font-family: "Fraunces", serif;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.btn-primary {
  background-color: #fad400;
  padding: 15px 30px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

@media (min-width: 1280px) {
  .btn-primary {
    background-color: white;
  }
  .btn-primary:hover {
    background-color: rgba(163, 224, 255, 0.4);
  }
}

.btn-secondary {
  background: transparent;
  padding: 10px;
  position: relative;
  font-weight: 900;
}

.btn-secondary button {
  text-transform: uppercase;
}

.btn-secondary::after {
  content: "";
  width: 100%;
  position: absolute;
  inset: auto 0 10px 0;
  height: 7px;
  background-color: #fad400;
  border-radius: 50px;
  opacity: 0.4;
  z-index: -1;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.flex-center, nav .nav-wrap, nav .nav-right, nav .nav-menu, .testimonial-wrap, footer .footer-wrap .footer-menu, footer .footer-wrap .socmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media (min-width: 1280px) {
  .flex-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flex-wrap.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.content {
  width: calc(100% / 2);
  text-align: center;
  position: relative;
}

@media (min-width: 1280px) {
  .content {
    text-align: left;
  }
}

.content p {
  margin: 40px 0;
}

.content.text {
  padding: 50px;
}

nav {
  position: absolute;
  padding: 20px 0;
  inset: 0 0 auto 0;
}

nav .nav-wrap {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0;
  position: absolute;
  background-color: white;
  inset: 12vh 20px auto 20px;
  transition: 0.3s ease;
  row-gap: 15px;
  transform: translateY(-150%);
  -webkit-transform: translateY(-150%);
  -moz-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  -o-transform: translateY(-150%);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

nav .nav-right::after {
  content: "";
  position: absolute;
  inset: -20px 0 auto auto;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid white;
  border-bottom: 20px solid transparent;
}

@media (min-width: 1280px) {
  nav .nav-right::after {
    display: none;
  }
}

nav .nav-right.active {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

@media (min-width: 1280px) {
  nav .nav-right {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
    transform: unset;
    padding: unset;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
  }
}

nav .nav-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  color: #818498;
}

@media (min-width: 1280px) {
  nav .nav-menu {
    color: white;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 50px;
            column-gap: 50px;
  }
}

nav .nav-mobile {
  cursor: pointer;
}

@media (min-width: 1280px) {
  nav .nav-mobile {
    display: none;
  }
}

.hero {
  background: url(../images/mobile/image-header.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  text-align: center;
}

@media (min-width: 1280px) {
  .hero {
    background: url(../images/desktop/image-header.jpg) no-repeat center;
  }
  .hero h1 {
    margin-bottom: 30vh;
    font-size: 3em;
  }
}

.list .content:nth-child(1) {
  color: #25564b;
}

.list .content {
  color: #19536b;
}

.list .flex-wrap {
  gap: unset;
}

.list-desc {
  position: absolute;
  inset: auto 20px 40px 20px;
}

@media (min-width: 1280px) {
  .list .content {
    text-align: center;
  }
  .list-desc {
    inset: auto 25% 20px 25%;
  }
}

.testimonial {
  padding: 50px 0;
  text-align: center;
}

.testimonial h2 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #a7abae;
}

.testimonial-wrap {
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonial-wrap .testi {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 40px 0;
}

.testimonial-wrap .testi img {
  border-radius: 50%;
  margin-inline: auto;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.testimonial-wrap .testi b {
  font-family: "Fraunces", serif;
  margin: 20px 0 10px 0;
  display: block;
}

.testimonial-wrap .testi small {
  color: #818498;
}

@media (min-width: 1280px) {
  .testimonial {
    padding: 150px 0;
  }
  .testimonial-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .testimonial-wrap .testi {
    padding-inline: 40px;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery picture {
  width: calc(100% / 2);
}

@media (min-width: 1280px) {
  .gallery picture {
    width: calc(100% / 4);
  }
}

footer {
  background-color: #85dbca;
  padding: 80px 0;
}

footer .footer-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

footer .footer-wrap .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-wrap .footer-menu {
  margin: 20px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-wrap .footer-menu li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  color: #458c7e;
}

footer .footer-wrap .footer-menu li a {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

footer .footer-wrap .footer-menu li a:hover {
  color: white;
}

footer .footer-wrap .socmed {
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #458c7e;
  margin-top: 40px;
}

footer .footer-wrap .socmed a {
  transition: 0.3s ease;
  font-size: 1.2em;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

footer .footer-wrap .socmed a:hover {
  color: white;
}

@media (min-width: 1280px) {
  footer .footer-wrap {
    max-width: 70%;
    margin-inline: auto;
  }
}
/*# sourceMappingURL=styles.css.map */