@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

// VARIABLES

$font: "Manrope", sans-serif;
$LightCyan: hsl(193, 38%, 86%);
$NeonGreen: hsl(150, 100%, 66%);
$GrayishBlue: hsl(217, 19%, 38%);
$DarkGrayishBlue: hsl(217, 19%, 24%);
$DarkBlue: hsl(218, 23%, 16%);

// VARIABLES

@import "reset";

body {
  font-family: $font;
  font-size: 28px;
  background-color: $DarkBlue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
}

#main {
  background-color: $DarkGrayishBlue;
  margin-top: 40px;
  width: 90%;
  margin-inline: auto;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  align-items: center;
  min-height: 50vh;
  text-align: center;
  position: relative;
  color: $LightCyan;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  .content {
    span {
      color: $NeonGreen;
      text-transform: uppercase;
      margin-bottom: 40px;
      display: block;
      font-size: 0.55em;
      letter-spacing: 0.2em;
    }
  
    picture img {
      margin: 40px auto;
    }
  
    button {
      background-color: $NeonGreen;
      padding: 15px;
      border-radius: 50px;
      position: absolute;
      width: 55px;
      inset: auto 45% -25px 44%;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
    }
  }


  @media (min-width: 1200px) {
    width: 80%;
    min-height: 45vh;
    padding: 60px;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      span {
        font-size: 1em;
      }
  
      p {
        font-size: inherit;
        line-height: 70px;
      }
      
      picture {
  
        img {
          margin-top: 80px;
        }
      }
  
      button {
        inset: auto 45% -25px 47%;
      }
    }

  }
}

.attribution {
  width: 100%;
  text-align: center;
  font-size: .5em;
  color: white;
  margin: 40px 0;

  a {
    color: $NeonGreen;
  }

  @media (min-width: 1200px) {
    margin: 80px 0;
  }
}
