@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* VARIABLE */

:root {
  --font: "Bai Jamjuree", sans-serif;
  --strongCyan: hsl(171, 66%, 44%);
  --strongCyanBack: hsl(171, 66%, 36%);
  --lightBlue: hsl(233, 100%, 69%);
  --lightBlueBack: hsl(233, 45%, 50%);
  --darkGrayishBlue: hsl(210, 10%, 33%);
  --grayishBlue: hsl(201, 11%, 66%);
}

/* VARIABLE */


body {
    font-family: var(--font);
    font-size: 18px;
    /* background-color: var(--grayishBlue); */
    color: var(--grayishBlue);
    line-height: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    object-fit: cover;
}

section {
    margin-bottom: 40%;
    text-align: center;
}

ul li {
    list-style: none;
}

h1, h2, h3 {
    color: var(--darkGrayishBlue);
    margin-bottom: 20px;
}

h1 {
    font-size: 1.8em;
    line-height: 34px;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.5em;
}

.container {
    max-width: 90%;
    margin-inline: auto;
}

.button_wrap {
    display: flex;
    place-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.btn {
    padding: 20px;
    display: inline-flex;
    place-content: center;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    letter-spacing: .03em;
    width: 100%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.btn_primary {
    box-shadow: 0px 8px 38px -12px hsla(171, 66%, 44%, 0.699);
    background-color: var(--strongCyan);
}

.btn_secondary {
    background-color: var(--lightBlue);
    box-shadow: 0px 8px 38px -12px hsla(233, 100%, 69%, 0.644);
}

.btn_primary, .btn_secondary {
    /* background-color: transparent; */
    position: relative;
}

.btn_primary::after, .btn_primary::before, .btn_secondary::before, .btn_secondary::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.btn_primary::after, .btn_secondary::after {
    background-color: transparent;
    inset: 0;
    z-index: 1;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.btn_primary::before {
    background-color: var(--strongCyanBack);
    inset: 0 -2px -4px -2px;
}

.btn_primary:hover::after, .btn_secondary:hover::after {
    background-color: rgba(255, 255, 255, 0.15);
}

.btn_secondary::before {
    background-color: var(--lightBlueBack);
    inset: 0 -2px -4px -2px;
}

/* .btn_secondary::after {
    background-color: var(--lightBlue);
    inset: 0 1px 3px 1px;
} */

figure {
    margin: 40px 0 60px 0;
}

.hero figure {
    margin-top: unset;
}

.hero {
    padding-top: 40px;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url(images/bg-header-mobile.png) center no-repeat;
}

.content_list ul li {
    margin-bottom: 40px;
}

.supercharge_list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 80px;
}

.supercharge_list div {
    flex: 1;
}

.supercharge_list h3 {
    margin-top: 40px;
}

.logo_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-bottom: 100px;
}

.logo_list img {
    flex: 1;
}

footer {
    background-color: rgba(221, 221, 221, 0.795);
    padding: 50px;
    color: var(--darkGrayishBlue);
    font-weight: 600;
}

.footer_wrap {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer_left, .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.menu a, .footer_socmed a {
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.menu a:hover, .footer_socmed a:hover {
    color: var(--strongCyan);
}

.footer_socmed {
    display: flex;
    gap: 30px;
    place-content: center;
}



@media (min-width: 1000px) {
    .container {
        max-width: 80%;
    }

    .hero {
        position: relative;
    }

    .hero::after {
        content: "";
        position: absolute;
        inset: 0;
        background: url(images/bg-header-desktop.png) center no-repeat;
        background-size: cover;
    }

    .button_wrap {
        flex-direction: row;
    }

    section {
        margin-bottom: 140px;
    }

    .top, .clipboard {
        max-width: 60%;
        margin-inline: auto;
    }

    .keep_track .top {
        margin-bottom: 100px;
    }

    .content_list {
        display: flex;
        align-items: center;
        text-align: left;
        position: relative;
    }

    .content_list ul {
        /* width: 30%; */
        margin-left: 55%;
        margin-top: 50px;
    }

    .content_list figure img {
        position: absolute;
        inset: 0 auto 0 -45%;
    }

    .access {
        margin-top: 25%;
        max-width: 70%;
        margin-inline: auto;
    }

    .supercharge_list, .logo_list, .footer_wrap, .footer_left, .menu {
        flex-direction: row;
    }

    .logo_list {
        flex-wrap: wrap;
    }

    .footer_left {
        flex: 2;
        column-gap: 100px;
    }

    .footer_right {
        flex: 1;
    }

    .menu {
        flex-wrap: wrap;
        white-space: nowrap;
        text-align: left;
    }

    .menu a {
        width: calc(100% / 5);
    }

    .footer_socmed {
        justify-content: flex-end;
    }
}

@media (min-width: 1400px) {
    .content_list figure img {
        inset: 0 auto 0 -20%;
    }
}