@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


// VARIABLES

$font: 'Kumbh Sans', sans-serif;
$fontSize: 1em;
$Radius: 15px;

// Primary

$Orange: hsl(26, 100%, 55%);
$Orange-hover: hsla(26, 100%, 55%, 0.7);
$Paleorange: hsl(25, 100%, 94%);

// Neutral

$Verydarkblue: hsl(220, 13%, 13%);
$Darkgrayishblue: hsl(219, 9%, 45%);
$Grayishblue: hsl(220, 14%, 75%);
$Lightgrayishblue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black-lightboxbackground: hsl(0, 0%, 0%);

// VARIABLES
